aiofiles
arrow
certifi
chardet
click
cryptography
dataset
dj-database-url
django
django-anymail
django-email-verification
django-htmx
django-jazzmin
django-rest-passwordreset
djangorestframework
gunicorn
idna
jinja2
markupsafe
pip
psycopg2-binary
pydantic
python-dateutil
python-dotenv
pytz
redis
requests
tqdm
typing-extensions
uamqp
urllib3
uvicorn
uvloop
