aioboto3
aiobotocore
aiofile
aiofiles
aioredis
arrow
boto3
botocore
certifi
chardet
click
cryptography
dataset
dj-database-url
django
django-anymail
django-email-verification
django-htmx
django-jazzmin
django-rest-passwordreset
djangorestframework
gunicorn
hiredis
idna
jinja2
markupsafe
numpy
pandas
pandas-market-calendars
peewee
pip
psycopg2-binary
pydantic
python-dateutil
python-dotenv
pytz
redis
requests
rich
scipy
tqdm
typing-extensions
uamqp
urllib3
uvicorn
uvloop